<html>
<head>
</head>
<body>
  <div class="container-fluid">
    <div class="row bg-dark" style="background-color: black;">
      <div class="col-md">
        <h4>
          sample
        </h4>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <p class="text-center display-5"><i class="fa fa-search fa-md" aria-hidden="true"></i> JOBSEEK.COM</p>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="employees"><i class="fa fa-users" aria-hidden="true"></i> Employees</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="feedbacks"><i class="fa fa-commenting"> Feedbacks</i></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlogin"><i class="fa fa-sign-out" aria-hidden="true"> Signout</i></a>
      </li> 
      </ul>
    </header>
  </div>
  <br>
  <router-outlet></router-outlet>
</body>
</html>