.display-5 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    color:#000000;
}

a:hover{
    color: aliceblue;
}
li:hover {
    background-color: #000000;
    color: white;
}