<div class="container-fluid bg-dark">
sample
</div>
<br>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <i class="fa fa-search fa-lg" aria-hidden="true"></i>
       <span class="fs-4"> JOBSEEK.COM</span>
    </a>
  </header>
  <header class="d-flex flex-wrap justify-content-start py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link" ><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link" >Manage Jobs</a></li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a></li>
    </ul>
  </header>
  <br>
  <div class="p-4 p-md-5 mb-4 rounded alert alert-dark row">
    <div class="col-md-6 px-0">
      <h3 class="display-5" style="font-family: Arial, Helvetica, sans-serif; font-weight: 700;"><i class="fa fa-user" aria-hidden="true"></i> HELLO! </h3>
      <p class="lead mb-0"><a href="#" class=" fw-bold">Signout<i style="margin-left: .5rem;" class="fa fa-sign-out" aria-hidden="true"></i></a></p>
    </div>
  </div>
</div>